@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* GÉNÉRAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 400;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    width: 100%;
    height: 100vh;
    background-color: white;
    animation: fill 0.5s ease forwards 3.5s;
    z-index: -10;
    color: white;
}
header{
    height: 100vh;
}
::-webkit-scrollbar{
    width: 0px;
}
.close-btn-project{
    position: absolute;
    width: 2em;
    height: 2em;
    right: 3%;
    cursor: pointer;
    transition: 2s all ease-in-out;
    z-index: 1000;
}
.close-btn-project .line-close-project{
    position: absolute; 
    right: 0; 
    height: 3px;
    border-radius: 50px;
}
.close-btn-project .line-close-project:nth-child(1){
    transform: rotate(-130deg);
    height: 3px;
    width: 100%;
    display: block;
    top: 50%!important;
    background: black;
    position: absolute;
    transition: 1s all ease-in-out;
}
.close-btn-project .line-close-project:nth-child(2){
    width: 0%;
    display: block;
    transition: 0.4s all ease-in-out;
}
.close-btn-project .line-close-project:nth-child(3){
    transform: rotate(130deg);
    height: 3px;
    width: 100%;
    display: block;
    background: black;
    position: absolute;
    top: 50%!important;
    transition: 1s all ease-in-out;
}

/* PORTFOLIO & ANIMATION */

#textsvg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill 0.5s ease forwards 3.5s;
    width: 80%;
}
#textsvg path:nth-child(1) {
    stroke-dasharray: 434;
    stroke-dasharray: 434;
    animation: line 2s ease forwards;
}
#textsvg path:nth-child(2) {
    stroke-dasharray: 546;
    stroke-dasharray: 546;
    animation: line 2s ease forwards 0.2s;
}
#textsvg path:nth-child(3) {
    stroke-dasharray: 530;
    stroke-dasharray: 530;
    animation: line 2s ease forwards 0.4s;
}
#textsvg path:nth-child(4) {
    stroke-dasharray: 324;
    stroke-dasharray: 324;
    animation: line 2s ease forwards 0.6s;
}
#textsvg path:nth-child(5) {
    stroke-dasharray: 371;
    stroke-dasharray: 371;
    animation: line 2s ease forwards 0.8s;
}
#textsvg path:nth-child(6) {
    stroke-dasharray: 546;
    stroke-dasharray: 546;
    animation: line 2s ease forwards 1s;
}
#textsvg path:nth-child(7) {
    stroke-dasharray: 286;
    stroke-dasharray: 286;
    animation: line 2s ease forwards 1.2s;
}
#textsvg path:nth-child(8) {
    stroke-dasharray: 219;
    stroke-dasharray: 219;
    animation: line 2s ease forwards 1.4s;
}
#textsvg path:nth-child(9) {
    stroke-dasharray: 546;
    stroke-dasharray: 546;
    animation: line 2s ease forwards 1.6s;
}
.blur{
    filter: blur(3px);
    transition: 1s all ease-in-out;
}
/* body > *:not(header) {
    filter: blur(8px);
    transition: 1s all ease-in-out;
} */
@keyframes line {
    0% {
        stroke-dashoffset: 450;
    }
    90%{
        stroke: black;
    }
    99% {
        stroke-dashoffset: 0;
        stroke: white;
        fill: black;
    }
    100% {
        stroke: white;
        fill: white;
    }
}
@keyframes fill {
    0% {
        fill: transparent;
    }
    35% {
        fill: white;
    }
    100% {
        fill: white;
        background-color: black;
    }
}
.marc{
    position: relative;
    width: 38vw;
    left: 42.5vw;
    margin-left: -12vw;
    top: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
#textmarc{
    min-width: 350px;
    letter-spacing: 3px;
}
.linename{
    top: 0;
    width: 0%;
    min-width: 0;
    background-color: #ffffff;
    border-radius: 10px;
    right: 0; 
    height: 3px;
    margin-right: 30px;
    margin-left: 30px;
    animation: linenamereveal 2s ease forwards 3.4s;
}
.char{
    font-size: 26px;
    animation: textreveal 2s ease forwards;
    display: inline-block;
}
@keyframes textreveal{
    from{
        opacity: 0;
        transform: perspective(500px) translate3d(0, -40px, -150px) rotate3d(0, -1, 0, 35deg);
    }
    to{
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}
@keyframes linenamereveal{
    from{
        width: 0%;
    }
    to{
        width: 30%;
        min-width: 175px;
    }
}

/* NAV BAR */

.btn-nav {
    position: fixed; 
    right: 0;
    top: -5px;
    width: 100vw;
    height: 20vh; 
    z-index: 10;
    -webkit-tap-highlight-color: transparent; 
    outline: none;
    display: flex;
    justify-content: flex-end;
}
.picto{
    position: absolute;
    width: 2.1em;
    height: 2.1em;
    top: 49vh;
    right: 3%;
    cursor: pointer;
    transition: 2s all ease-in-out;
    z-index: 10;
}
.picto .line{
    position: absolute; 
    right: 0; 
    height: 3px;
}
.picto .line:nth-child(1){ 
    top: 0;
    width: 35%;
    background-color: #ffffff;
    transition: 1s all ease-in-out;
    rotate: -45deg;
    border-radius: 10px;
}
.picto .line:nth-child(2){ 
    top: 10%;
    right: -225px;
    width: 500%;
    background-color: #ffffff;
    transition: 1s all ease-in-out;
    border-radius: 10px;
}
.picto .line:nth-child(3){ 
    top: 20%;
    width: 35%;
    background-color: #ffffff;
    transition: 1s all ease-in-out;
    rotate: 45deg;
    border-radius: 10px;
}
.close-btn{
    right: 90%;
    transition: 2s all ease-in-out;
    z-index: 1;
}
.close-btn .line:nth-child(1){
    top: 20%;
    width: 35%;
    background-color: #ffffff;
    rotate: -45deg;
    border-radius: 10px;
    transition: 1s all ease-in-out;
}
.close-btn .line:nth-child(2){
    right: -1300px;
    width: 3000%;
    transition: 1s all ease-in-out;
}
.close-btn .line:nth-child(3){
    top: 0;
    width: 35%;
    background-color: #ffffff;
    rotate: 45deg;
    border-radius: 10px;
    transition: 0.4s all ease-in-out;
}
.nav{
    position: absolute;
    width: 89%;
    height: 20vh;
    top: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(102 102 102 / 50%);
    transform: translateX(1500px);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    z-index: 2;
    transition: 2s all ease-in-out;
}
.open-menu{
    transform: translateX(0px);
}
.nav ul{
    display: flex;
    flex-direction: row;
    margin-top: -5px;
}
.nav ul li{
    list-style: none;
    padding: 0px 50px;
}
.nav ul li a{
    text-decoration: none;
    font-size: 2vw;
    font-weight: 600;
    color: #000;
    transition: 0.2s all;
}
.nav ul li a:hover{
    border-bottom: 5px solid #000;
    padding: 30px;
    background-color: #000;
    color: white;
    transition: 0.2s all;
}
.arrow{
    position: absolute;
    bottom: 5vh;
    left: 47vw;
    height: 50px;
    width: 50px;
    animation: arrowflow 1s infinite alternate;
    cursor: pointer;
}
.arrow a{
    text-decoration: none;
    cursor: pointer;
}
.arrow a .line{
    position: absolute; 
    right: 0; 
    height: 3px;
}
.arrow a .line:nth-child(1){ 
    width: 35%;
    background-color: #ffffff;
    transition: 1s all ease-in-out;
    rotate: 45deg;
    border-radius: 10px;
}
.arrow a .line:nth-child(2){ 
    left: 53%;
    width: 80%;
    top: -70%;
    rotate: 90deg;
    background-color: #ffffff;
    transition: 1s all ease-in-out;
    border-radius: 10px;
}
.arrow a .line:nth-child(3){ 
    left: 86%;
    width: 35%;
    background-color: #ffffff;
    transition: 1s all ease-in-out;
    rotate: 315deg;
    border-radius: 10px;
}
@keyframes arrowflow {
    to {
        transform: translateY(-15px);
    }
}
.hide{
    background-color: #000!important;
}

/* SECTION */

section{
    height: 100vh;
    width: 100vw;
    background-color: #000;
}
.detailbox{
    transition: 1s all ease-in-out;
    width: 10vw;
    height: 10vh;
}
.titleproject{
    font-size: 75px;
    position: relative;
    z-index: 1;
    top: 3vh;
    letter-spacing: 5px;
    font-weight: 800;
    transition: 1s all ease-in-out;
}
.descproject{
    font-size: 25px;
    position: relative;
    z-index: 2;
    top: 2vh;
    font-weight: 200;
    transition: 1s all ease-in-out;
}

/* SECTION ONE */

.close-project1{
    top: 105%;
}
.Hometimisation-img{
    height: 65vh;
    position: relative;
    top: 10vh;
    left: 10vw;
    transition: 1s all ease-in-out;
}
#Hometimisation-title{
    left: 6vw;
    width: 15vw;
    text-align: left;
}
#Hometimisation-desc{
    left: 8vw;
    width: 50vw;
    text-align: left;
}

/* SECTION TWO */

.close-project2{
    top: 205%;
}
.InMessage-img{
    height: 65vh;
    position: relative;
    top: 10vh;
    right: -20vw;
}
#InMessage-title{
    left: 50vw;
    width: 40vw;
    text-align: right;
}
#InMessage-desc{
    left: 50vw;
    width: 40vw;
    text-align: right;
}

/* SECTION DETAIL */

.detailproject{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: row;
    transition: 1s all ease-in-out;
}
.detailproject img{
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s all ease-in-out;
}
.detailproject .detailbox{
    background-color: rgba(205, 205, 205, 0.85);
    position: relative;
    height: 100vh;
    width: 50vw;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    transition: 1s all ease-in-out;
}
.detailproject .titleproject{
    font-size: 65px;
    top: 10%;
    left: 5%;
    color: black;
}
.detailproject .descproject{
    font-size: 20px;
    top: 10%;
    left: 5%;
    width: 50%;
    color: black;
}